[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.6"
python-decouple = "==3.6"
psycopg2 = "==2.9.*"
dj-database-url = "==0.5.*"
django-allauth = "==0.43.*"

[dev-packages]

[requires]
python_version = "3.10"
