[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"], version = "*"}
python-decouple = "==3.6"
psycopg2 = "==2.9.*"
dj-database-url = "==0.5.*"
django-allauth = "==0.43.*"
django-ckeditor = "==6.4.*"
pillow = "==9.2.*"
install = "*"
whitenoise = "==6.2.*"
django-cors-headers = "==3.13.*"
djangorestframework = "==3.13.*"
markdown = "==3.3.*"
django-filter = "==22.*"
djangorestframework-simplejwt = "==5.2.*"

[dev-packages]

[requires]
python_version = "3.10"
